@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Covered+By+Your+Grace&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  background: #f8f8f8;
  position: relative;
}

/* Navbar */

.site-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  width: 100%;
  display: flex;
  padding: 12px 160px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  background: #f8f8f8;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar-logo img {
  height: 67px;
  flex-shrink: 0;
  object-fit: cover;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Buttons */

.primary-button {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #c41e3a;
  background: #c41e3a;
  color: #f8f8f8;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.primary-button:hover {
  color: #c41e3a;
  border: 1px solid #ffe1e6;
  background: #ffe1e6;
}

.secondary-button {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #c41e3a;
  color: #c41e3a;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.secondary-button:hover {
  border: 1px solid #ffe1e6;
  background: #ffe1e6;
}

/* Home */

.home-hero {
  width: 100%;
  height: calc(100svh - 92px);
  display: flex;
  padding: 80px 160px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home-hero-img {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-hero-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home-hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  position: relative;
}

.home-hero-content img {
  position: absolute;
  bottom: -15%;
  right: 10%;
  width: 25%;
  object-fit: cover;
}

.home-hero-content h1 {
  color: #212121;
  text-align: center;
  font-family: Barlow;
  font-size: clamp(36px, 6vw, 120px);
  font-style: normal;
  font-weight: 800;
  line-height: 110px;
  text-transform: uppercase;
  z-index: 1;
}

.home-hero-content h1 span {
  color: var(--Primary, #c41e3a);
}

.home-hero-content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 1;
}

.home-hero-content-section p {
  color: rgba(17, 17, 17, 0.8);
  text-align: center;
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.template {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.template-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.template-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.template-heading-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.template-heading-header hr {
  width: 12px;
  border: 1px solid #c41e3a;
}

.template-heading-header p {
  color: #c41e3a;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.template-heading h2 {
  color: #111;
  font-family: Barlow;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.8px;
}

.home-banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.home-banner-card {
  width: 100%;
  display: flex;
  min-height: 470px;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  cursor: pointer;
}

.home-banner-card-img {
  min-width: 220px;
  aspect-ratio: 220/240;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.home-banner-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.home-banner-card-img img:last-child {
  position: absolute;
  opacity: 0;
}

.active-home-banner-card .home-banner-card-img img:last-child {
  opacity: 1;
}

.home-banner-card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.home-banner-card-text h3 {
  color: #222;
  text-align: center;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-banner-card-text p {
  color: rgba(34, 34, 34, 0.6);
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-about {
  display: flex;
  width: 100%;
  padding: 100px 160px 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.home-about-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.home-about-top-left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.home-about-top-left img {
  height: 100%;
  object-fit: cover;
}

.home-about-top-left-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.home-about-top-left-text h2 {
  color: #111;
  font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.home-about-top-left-text h2 strong {
  color: #111;
  font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.home-about-top-left-text .template-heading-header p {
  color: #c41e3a;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-about-top-left-text h2 span {
  color: #c41e3a;
  font-family: Barlow;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  line-height: 140%;
}

.home-about-top-left-text p {
  color: rgba(17, 17, 17, 0.8);
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.home-about-top-left-text p strong {
  color: rgba(17, 17, 17, 0.8);
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.home-about-top-left-text p span {
  color: var(--Primary, #c41e3a);
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.home-about-top-right {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.home-about-top-right video {
  width: 274.589px;
  height: 100%;
  object-fit: cover;
}

.home-about-bottom {
  width: 100%;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-about-bottom-container {
  width: 100%;
  display: flex;
  padding: 26px 40px;
  align-items: flex-start;
  gap: 40px;
}

.home-about-bottom-container article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.home-about-bottom-container img {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.home-about-bottom-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.home-about-bottom-text h3 {
  color: #c41e3a;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.home-about-bottom-text p {
  color: rgba(33, 33, 33, 0.7);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.171px;
}

.home-founder {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}

.home-founder-left {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
}

.home-founder-left img {
  width: 100%;
  height: 300px;
  align-self: stretch;
  object-fit: cover;
}

.home-founder-left img:first-child {
  grid-column: span 5;
}

.home-founder-left img:nth-child(2) {
  grid-column: span 3;
}

.home-founder-left img:last-child {
  grid-column: span 2;
}

.home-founder-right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.home-founder-right video {
  width: 100%;
  height: 614px;
  object-fit: cover;
}

.home-why-center {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.home-why-center hr {
  width: calc(100% - 110px);
  border: 2px solid transparent;
  border-image: repeating-linear-gradient(
      90deg,
      #c41e3a 0 16px,
      transparent 16px 25px
    )
    1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 75px;
  z-index: 1;
}

.home-why-center-set {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  z-index: 2;
}

.home-why-center-set-icon {
  display: flex;
  width: 150px;
  height: 150px;
  padding: 43px;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  background: #fff;
  box-shadow: 6px 10px 15px 0 rgba(0, 0, 0, 0.1);
}

.home-why-center-set-icon svg {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.home-why-center-set-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.home-why-center-set-text h3 {
  color: #222;
  text-align: center;
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-why-center-set-text p {
  color: rgba(34, 34, 34, 0.8);
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-why-end {
  width: 100%;
  display: flex;
  padding: 40px;
  justify-content: space-evenly;
  align-items: center;
  gap: 160px;
  align-self: stretch;
  border-radius: 24px;
  background: #c41e3a;
}

.home-why-end article {
  display: flex;
  width: 180px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.home-why-end article h3 {
  color: #f8f8f8;
  text-align: center;
  font-family: Barlow;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.171px;
}

.home-why-end article p {
  color: #d7d7d7;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.171px;
}

.home-help {
  display: flex;
  padding: 40px 0;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  gap: 100px;
}

.home-help-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  position: relative;
}

.home-help-tabs::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #c41e3a1a;
  border-radius: 4px;
}

.home-help-tabs-indicator {
  position: absolute;
  top: 238px;
  left: 0;
  width: 4px;
  height: 50px;
  background: #c41e3a;
  border-radius: 4px;
  transition: all 0.3s;
}

.home-help-tabs button {
  color: rgba(17, 17, 17, 0.6);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
  background: none;
  padding-left: 24px;
  cursor: pointer;
  transition: all 0.3s;
}

.home-help-tabs button.active-tab {
  color: #222;
}

.home-help-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.home-help-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  overflow: hidden;
}

.home-help-text h3 {
  color: rgba(17, 17, 17, 0.8);
  font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-help-text span {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #c41e3a;
  color: #c41e3a;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-help-para {
  width: 100%;
  height: 152px;
  display: flex;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.home-help-para::-webkit-scrollbar {
  display: none;
}

.home-help-para ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.home-help-para li {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.home-help-para svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.home-help-text p {
  color: rgba(17, 17, 17, 0.7);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.home-help-img {
  width: 260px;
  height: 260px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: 24px;
}

.home-build {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.home-build-text {
  width: 100%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.home-build-text h2 {
  color: #212121;
  font-family: Barlow;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  text-transform: uppercase;
  position: relative;
}

.home-build-text h2 span {
  color: rgba(33, 33, 33, 0.6);
  font-family: Barlow;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.2px;
  text-transform: none;
}

.home-build-text h2 img {
  position: absolute;
  top: 12px;
  right: -88px;
  width: 64px;
  height: 64px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.home-build-text p {
  color: rgba(17, 17, 17, 0.6);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.home-build-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-build-content img {
  width: 334px;
  height: 335px;
  flex-shrink: 0;
  object-fit: cover;
}

.home-build-content ul {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.home-build-content ul li {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #212121;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-build-content ul li svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.home-build-content .primary-button {
  width: fit-content;
  margin-top: 40px;
}

.home-decisions-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}

.home-decisions-container .template {
  border-radius: 12px 12px 0 0;
}

.home-decisions {
  display: flex;
  max-width: 490px;
  min-height: 600px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.home-decisions-set {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.home-decisions-set-left {
  display: flex;
  width: 50px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  transition: all 0.3s;
}

.home-decisions-set-left span {
  color: #c41e3a;
  font-family: "Covered By Your Grace";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 4px;
  opacity: 0.5;
  transition: all 0.3s;
}

.active-home-decisions-set span {
  opacity: 1;
}

.home-decisions-set-line {
  width: 2px;
  height: 0px;
  border-radius: 2px;
  background: rgba(33, 33, 33, 0.8);
  transition: all 0.3s;
}

.active-home-decisions-set .home-decisions-set-line {
  height: 112px;
}

.home-decisions-set-right {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  transition: all 0.3s;
}

.home-decisions-set-right h3 {
  color: rgba(33, 33, 33, 0.3);
  font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s;
}

.active-home-decisions-set h3 {
  color: #212121;
}

.home-decisions-set-right p {
  color: rgba(33, 33, 33, 0.6);
  font-family: Barlow;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(10px);

  transition: max-height 0.6s ease, opacity 0.4s ease, transform 0.4s ease;
}

.active-home-decisions-set .home-decisions-set-right p {
  max-height: 200px;
  opacity: 1;
  transform: translateY(0);
}

.home-together {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 80px;
}

.home-together-container {
  width: 100%;
  display: flex;
  height: 436px;
  padding: 80px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 20px;
  background: #c41e3a;
}

.home-together-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.home-together-text h2 {
  color: #f8f8f8;
  font-family: Barlow;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-together-text p {
  color: #f8f8f8;
  text-align: center;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.6;
}

.home-together a {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f8f8f8;
  color: #c41e3a;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
}

.home-together a:hover {
  background: #ffe1e6;
}

.home-testimony {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.home-testimony header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.home-testimony h2 {
  color: #212121;
  text-align: center;
  font-family: Barlow;
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.7px;
  text-transform: capitalize;
}

.home-testimony span {
  color: #c41e3a;
  text-align: center;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.home-testimony p {
  color: #212121;
  text-align: center;
  font-family: Barlow;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
  padding: 0px 160px;
}

.home-testimony-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.home-testimony-img {
  display: flex;
  width: 90px;
  height: 120px;
  padding: 16px 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  transition: all 0.3s;
}

.active-home-testimony-img.home-testimony-img {
  background: #c41e3a;
}

.home-testimony-img img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 40px;
  border: 5px solid #f8f8f8;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.06);
}

.home-connect {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.home-connect-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.home-connect-text-para {
  color: rgba(17, 17, 17, 0.6);
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-connect-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.home-connect-links a {
  color: rgba(17, 17, 17, 0.9);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  transition: all 0.3s;
}

.home-connect-links a:hover {
  color: #c41e3a;
}

.home-connect-links a svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.home-connect form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.home-connect form input,
.home-connect form textarea {
  width: 100%;
  display: flex;
  padding: 20px 24px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid rgba(17, 17, 17, 0.4);
  background: none;
  color: rgba(17, 17, 17, 0.5);
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-connect form input:not(:placeholder-shown),
.home-connect form textarea:not(:placeholder-shown) {
  color: #111;
}

.home-connect form textarea {
  resize: none;
  height: 200px;
}

.home-connect button {
  width: 100%;
}

/* F & B */

.fandb-models-container {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  background: #c41e3a;
}

.fandb-models-container .template-heading-header p {
  color: #fff;
}

.fandb-models-container .template-heading-header hr {
  border: 1px solid #fff;
}

.fandb-models-container .template-heading h2 {
  color: #fff;
}

.fandb-models {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
}

.fandb-models-set {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.fandb-models-set-icon {
  display: flex;
  width: 64px;
  height: 64px;
  padding: 11.952px 12px 12.048px 12px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  border-radius: 150px;
  background: #f8f8f8;
}

.fandb-models-set-icon svg {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.fandb-models-set h3 {
  color: #fff;
  font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.fandb-models-set ul {
  padding-left: 20px;
}

.fandb-models-set li {
  color: rgba(255, 255, 255, 0.9);
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.fandb-funnel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fandb-funnel-img {
  width: 100%;
  object-fit: cover;
}

.fandb-funnel-person {
  width: 80px;
  height: 80px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  background: #eeeeee;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
}

.fandb-funnel-person.active {
  animation: personDropAnimation 2s linear forwards;
}

@keyframes personDropAnimation {
  0% {
    opacity: 0;
    top: -10%;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 20%;
  }
}

.fandb-funnel-person:nth-of-type(1) {
  transform: translateX(calc(-50% - 100%));
}
.fandb-funnel-person:nth-of-type(2) {
  transform: translateX(calc(-50% + 100%));
}
.fandb-funnel-person:nth-of-type(3) {
  transform: translateX(calc(-50% - 100%));
}
.fandb-funnel-person:nth-of-type(4) {
  transform: translateX(calc(-50% + 50%));
}
.fandb-funnel-person:nth-of-type(5) {
  transform: translateX(calc(-50% - 75%));
}
.fandb-funnel-person:nth-of-type(6) {
  transform: translateX(calc(-50% - 100%));
}
.fandb-funnel-person:nth-of-type(7) {
  transform: translateX(calc(-50% + 100%));
}
.fandb-funnel-person:nth-of-type(8) {
  transform: translateX(calc(-50% - 25%));
}

.fandb-funnel-coin {
  width: 40px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  background: #eeeeee;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
}

.fandb-funnel-coin.active {
  animation: personDropCoin 2s linear forwards;
}

@keyframes personDropCoin {
  0% {
    opacity: 0;
    bottom: 25%;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 10%;
  }
}

.fandb-funnel-coin:nth-child(10) {
  transform: translateX(calc(-50% - 50%));
}
.fandb-funnel-coin:nth-child(11) {
  transform: translateX(calc(-50% + 50%));
}
.fandb-funnel-coin:nth-child(12) {
  transform: translateX(calc(-50% - 50%));
}
.fandb-funnel-coin:nth-child(13) {
  transform: translateX(calc(-50% + 25%));
}
.fandb-funnel-coin:nth-child(14) {
  transform: translateX(calc(-50% - 35%));
}
.fandb-funnel-coin:nth-child(15) {
  transform: translateX(calc(-50% - 50%));
}
.fandb-funnel-coin:nth-child(16) {
  transform: translateX(calc(-50% + 50%));
}

.fandb-reason-para {
  max-width: 942px;
  color: rgba(33, 33, 33, 0.6);
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.fandb-reason {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fandb-reason img {
  width: 100%;
  object-fit: cover;
}

.fandb-journey-tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 24px;
}

.fandb-journey-tab {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.fandb-journey-tab p {
  color: rgba(33, 33, 33, 0.6);
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.fandb-journey-tab-svg {
  display: flex;
  width: 40px;
  height: 54px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 20/27;
}

.fandb-journey-tab svg {
  width: 20px;
  height: 26.667px;
  flex-shrink: 0;
  stroke-width: 2.5px;
  stroke: #212121;
}

.fandb-journey-tabs span:first-of-type {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #edc2c9 0%, #c41e3a 100%);
}

.fandb-journey-tabs span:last-of-type {
  width: 100%;
  height: 1px;
  background: #c41e3a;
}

.fandb-journey-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.fandb-journey-set {
  display: flex;
  width: 100%;
  min-height: 385px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  border: 1px solid #efefef;
  background: #fefefe;
}

.fandb-journey-set header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.fandb-journey-set-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.fandb-journey-set-img {
  width: 72px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.fandb-journey-set-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.fandb-journey-set-img img:last-child {
  position: absolute;
  opacity: 0;
}

.active-fandb-journey-set .fandb-journey-set-img img:last-child {
  opacity: 1;
}

.fandb-journey-set header span {
  color: #212121;
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.fandb-journey-set header h3 {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background: rgba(166, 166, 166, 0.1);
  color: #c41e3a;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.fandb-journey-set ul {
  display: flex;
  width: 100%;
  max-width: 206px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.fandb-journey-set ul li {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  color: rgba(33, 33, 33, 0.6);
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.fandb-journey-set ul li p {
  width: 65px;
  flex-shrink: 0;
}

.fandb-journey-set ul li span {
  height: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  background: linear-gradient(
    270deg,
    rgba(246, 242, 242, 0.95) 100.26%,
    #c41e3a 100.31%
  );
  overflow: hidden;
}

.fandb-journey-set ul li span .line {
  width: 0%;
  height: 100%;
  background: #c41e3a;
  transition: all 0.3s;
}

.fandb-journey-set h4 {
  color: rgba(33, 33, 33, 0.9);
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.active-fandb-journey-set:first-child ul li:first-of-type span .line {
  width: 30%;
}
.active-fandb-journey-set:first-child ul li:nth-of-type(2) span .line {
  width: 35%;
}
.active-fandb-journey-set:first-child ul li:last-of-type span .line {
  width: 20%;
}

.active-fandb-journey-set:nth-child(2) ul li:first-of-type span .line {
  width: 70%;
}
.active-fandb-journey-set:nth-child(2) ul li:nth-of-type(2) span .line {
  width: 65%;
}
.active-fandb-journey-set:nth-child(2) ul li:last-of-type span .line {
  width: 50%;
}

.active-fandb-journey-set:last-child ul li:first-of-type span .line {
  width: 82%;
}
.active-fandb-journey-set:last-child ul li:nth-of-type(2) span .line {
  width: 85%;
}
.active-fandb-journey-set:last-child ul li:last-of-type span .line {
  width: 90%;
}

/* Footer */

footer {
  width: 100%;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
}

.footer-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer-top img {
  height: 56px;
  object-fit: cover;
}

.footer-top nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-top nav a {
  color: #111;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s;
  text-decoration: none;
}

.footer-top nav a:hover {
  color: #c41e3a;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.footer-socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  text-decoration: none;
}

.footer-socials a svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.footer-socials a svg path {
  transition: all 0.3s;
}

.footer-socials a:hover svg path {
  fill: #c41e3a;
}

.footer-socials a:nth-child(2):hover svg path {
  fill: none;
  stroke: #c41e3a;
}

footer hr {
  width: 100%;
  border: 1px solid #d4d4d4;
}

.footer-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom p {
  color: rgba(17, 17, 17, 0.6);
  text-align: right;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-bottom p a {
  color: rgba(17, 17, 17, 0.6);
  text-align: right;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-bottom p a:hover {
  color: #ffbf00;
  border-bottom: 1px solid #ffbf00;
}
